/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

div#footer{
  background-color: #4e567e;
}
section {
  position: relative;
  width: 100vw;
}

/*about section*/
section.Apadding {
  background-color: white;
  width: 70%;
  margin: 3rem auto;
  height: auto;
}

section.padding h2{
  color: black;
}
section#portfolio {
  background-color: #4e567e;
  height: auto; /* Change to auto height for dynamic content */
  padding: 3rem 0;
}
section#research {
  background-color: white;
  height: auto; /* Change to auto height for dynamic content */
  padding: 3rem 0;
}
.container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem auto;
  padding: 6rem;
}

.container .box {
  border-radius: 10px;
  border: 1px solid #4e567e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1.5rem;
  background-color: white;
}

.Rcontainer {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px auto;
  padding: 1.5rem;
}

.Rcontainer .Rbox {
  border-radius: 10px;
  border: 1px solid #4e567e;
  display: flex;
  padding: 34px;
  text-align: center;
  width: 70%;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
}



h1 {
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}
h6{
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

h7{
  font-size: 0.9rem;
}
/* Logos */

#image-container{
  padding-top: 1rem;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}

img.logo {
  width: 90px;
  max-width: 100px;
  margin: 10px;
}



p {
  font-size: 5rem;
  align-content: flex-start;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 1rem;
}

p.small {
  font-size: 0.8rem;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}


img.socialIcon {
  height: 30px;
  width: 30px;
}

.centered-container {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  align-content: center;
  height: 40vw;
  width: 100vw;
  margin-top: 80px;
}


.centered-container h1 h2{
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

@media only screen and (max-width: 800px) {


  h1 {
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.8;
    padding-left: auto;
  }
  
  h2 {
    font-size: 1rem;
    font-weight: 400;
    padding-left: auto;
    align-content: flex-start;
    
  }

  h3 {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
  }

  h7 {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
  }

  p.large{
    font-size: 0.8rem;
  }

  p.small{
    font-size: 0.6rem;
  }
  /* HOME  */
  .centered-container {
    color: white;
    display: flex; 
    flex-direction: column;  
    align-items: flex-start; 
    justify-content: center;
    height: 60vw;
    width: 90vw;
    margin-top: 100px;
    padding-left: 2rem;
  }

  section.min-height h1 {
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 0.8;
    padding-left: auto;
  }
  
  section.min-height h2 {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: auto;
    align-content: flex-start;
    
  }

  .centered-container h1{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 0.8;
    margin: 0;
  }

  section.Apadding {
    background-color: white;
    width: 80%;
    margin: 2rem auto;
    height: auto;
  }

  img.logo {
    width: 70px;
    max-width: 100px;
    margin: 0.5rem;
  }



  
}

section.min-height {
  min-height: 40%; /* Adjust the value as needed */ 
  background-color: #4e567e;
}
